.toggler {
    margin: 0 0 0 90%;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.mod-cancel {
    margin: 0 0 0 90%;
}

.mod-eddel {
    margin: 0 0 0 50%;
}

.edit-button {
    cursor: pointer;
    background-color: cornflowerblue;
    color: whitesmoke;
    margin: 0 5px;
}

.delete-button {
    cursor: pointer;
    background-color: firebrick;
    color: whitesmoke;
    margin: 0 5px;
}

.cancel-button {
    cursor: pointer;
    background-color: rgb(240, 12, 12);
    color: black;
    height: 18px;
    width: 18px;
    border: solid 1px black;
    border-radius: 50%;
}

.dot-button {
    cursor: pointer;
    color: black;
}

.video-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 15px;
}



@media only screen and (max-width: 600px){
    .home, .recommended, .liked-videos, .history, .watch-later, .trending{
        width: 100%;
        margin: 0;
    
        > section{
            width: 100%;
            flex-direction: column;
            
            > article {
                width: 100%;
                margin: 0;  
            }
        }
    
    }
}